@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "w3css-4-w3.css";

*{
    /* font-family: 'Montserrat', sans-serif !important; */
    text-align: justify;
}

ul {
    padding-left: 1em;
	list-style-type: none;
}