<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fair Metrics</title> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>



<body>
   
    <!-- <div th:replace="fragments/header :: header"></div> -->

    <div class="w3-row">

        <div class="w3-col m3 l2">
            <!-- <div th:replace="fragments/header-fair-metrics :: header-fair-metrics"></div> -->
            <div class="w3-bar-block">
                <a class="w3-bar-item w3-large w3-button" href="/fair">Fair metrics</a>
            </div>
            <form id="filter-form" class="w3-container">
                <p>
                    <label>Filter</label>
                    <input id="filter" class="w3-input w3-border" name="name" type="text">
                </p>
            </form>
            <th:block th:if="${metricTableErrors}">
                <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow">
                    <p th:text="${metricTableErrors}"></p>
                </div>
            </th:block>
            <ul>
                <li>Table of Content</li>
                <li th:each="metric,iter : ${metricPage.content}"> <small><a th:text="${#strings.replace(metric.id,'/',' ')}" th:href="'#' + ${#strings.toString(metric.id)}"></a></small></li>
            </ul>
            <div th:replace="fragments/header-fair-metrics-paginator :: header-fair-metrics-paginator(pagePaginator=${metricPage},pageNumbers='false')"></div>
        </div>
        <div class="w3-card w3-col m9 l10">
            
            <table class="w3-table w3-centered">
                <tr>
                    <th>Tool</th>
                    <th>FAIR Metrics</th>
                </tr>
                <tr th:each="metric,iter : ${metricPage.content}" th:id="${#strings.toString(metric.id)}">
                    <td>
                        <p>Name : [[${#strings.toString(metric.name)}]]</p>
                        <p>Version : [[${#strings.toString(metric.version)}]]</p>
                        <p>Type : [[${#strings.toString(metric.type)}]]</p>
                        <p>FAIR Metrics : [[${#strings.toString(metric.scores)}]]</p>
                        <a th:href="'https://openebench.bsc.es/html/tool/'+${#strings.toString(metric.name)}" >
                            <p>More info</p>
                        </a>
                    </td>
                    <td>
                        <fair-metrics width="50opx"  th:data-fair-metrics="${#strings.toString(metric.scores)}" ></fair-metrics>
                    
                    </td>
                </tr>
            </table>

            <div th:replace="fragments/header-fair-metrics-paginator :: header-fair-metrics-paginator(pagePaginator=${metricPage},pageNumbers='true')"></div>
            
            <th:block th:if="${paginationError}">
                <div>
                    <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow">
                        <h3>Warning!</h3>
                        <p th:text="${paginationError}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div> 
    
        
    
    
    
     
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages;

        if ("IntersectionObserver" in window) {
            lazyloadImages = document.querySelectorAll(".lazy");
            var imageObserver = new IntersectionObserver(function (entries, observer) {
                entries.forEach(function (entry) {
                    if (entry.isIntersecting) {
                        var image = entry.target;
                        image.src = image.dataset.src;
                        image.classList.remove("lazy");
                        imageObserver.unobserve(image);
                    }
                });
            });

            lazyloadImages.forEach(function (image) {
                imageObserver.observe(image);
            });
        } else {
            var lazyloadThrottleTimeout;
            lazyloadImages = document.querySelectorAll(".lazy");

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function () {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        }
    })


    var _changeInterval = null;
    $("#filter").keyup(function () {
        // wait untill user type in something
        // Don't let call setInterval - clear it, user is still typing
        clearInterval(_changeInterval)
        _changeInterval = setInterval(function () {
            console.log("search")
            // Typing finished, now you can Do whatever after 2 sec            
            $('#filter-form').submit();

            clearInterval(_changeInterval)
        }, 1000);
    });
</script>

<!-- this loads the bundle js for FAIR Metrics charts -->
<script type="text/javascript" th:src="@{/js/fairwidget.js}"></script> 

</html>