<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div> 
            <p th:text="'Hello, ' + ${name} + '!'" />
        </div> 
        <div id="components-demo">
            <button-counter></button-counter>
            <br>
            <blog-post th:post="${name}"></blog-post>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    
    <script>
        Vue.component('button-counter',{
            data: function () {
                return {
                  count: 0
                }
            },
            template: '<div><button v-on:click="count++">You clicked me {{ count }} times.</button></div>'
        })        
        
        
        Vue.component('blog-post',{
            props: ['post'],
            template: '<h3>Hello {{ post }}</h3>'
        })
        
        
        new Vue({el: '#components-demo'})
    </script>
</html>